.country_information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: solid 2px red; */

}

.flag {
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.card {
    position: absolute;
    padding: 5px;
    top: 20%;
    left: 10%;
    color: white;
    background-color: rgba(56, 89, 116, 0.75);
    text-align: center;
}

